::ng-deep .project-owner {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
::ng-deep .owner-ava {
  width: 80px;
  height: 80px;
  background-image: url("/image/owner-ava.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
  border-radius: 50%;
}
::ng-deep .owner-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
::ng-deep .owner-name {
  display: flex;
  flex: row;
  align-items: center;
  gap: 4px;
}
::ng-deep .owner-name span {
  font-size: 16px;
  line-height: 26px;
}
::ng-deep .owner-history {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
::ng-deep .owner-history ::ng-deep .barlow-regular {
  font-size: 14px;
  line-height: 20px;
}
::ng-deep .owner-profile {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
::ng-deep .owner-profile span {
  font-size: 14px;
  line-height: 20px;
  color: #5a5a5a;
}
::ng-deep .social-action {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
::ng-deep .social-action button {
  padding: 8px 24px;
  text-align: center;
  border-radius: 6px;
  flex-grow: 1;
}
::ng-deep .social-action ::ng-deep .follow {
  background-color: #f5f5f5;
  color: #b3b3b3;
}
::ng-deep .social-action ::ng-deep .inbox {
  background-color: #913cf9;
  color: #fff;
}
::ng-deep .project-divider {
  border-bottom: 1px solid #d9d9d9;
}
::ng-deep .project-grid {
  flex-grow: 1;
  min-height: 0 !important;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
::ng-deep .project-item {
  /* height: 170px;
  background-size: auto 170px; */
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
