<div class="baumans-regular page__sidebar--logo">
  <span class="full">Portfolio</span>
  <span class="short">Portf</span>
</div>
<div class="page__sidebar--menu">
  <div class="page__sidebar--menu-item">
    <a class="sidebar-menu-item" *ngFor="let item of menu$ | async; let i = index" [routerLink]="item.path">
      <ng-icon name='{{item.isActive ? item.activeIcon : item.icon}}'
        ngClass='{{item.isActive ? "menu-item__icon active" : "menu-item__icon"}}' />
      <span class="menu-item__title" ngClass='{{item.isActive?"barlow-bold":"barlow-medium"}}'>{{item.title |
        translate}}</span>
    </a>
  </div>
  <div class="page__sidebar--menu-lang">
    <span class="small barlow-semibold">VI</span>
    <label for="page__sidebar--menu-toggleLang"
      class="group relative block h-8 w-14 rounded-full bg-gray-300 transition-colors [-webkit-tap-highlight-color:_transparent] ">
      <input type="checkbox" id="page__sidebar--menu-toggleLang" class="peer sr-only" [(ngModel)]="isEnglish"
        (change)="menuService.changeLang(isEnglish)" />
      <span
        class="absolute inset-y-0 start-0 m-1 grid size-6 place-content-center rounded-full bg-white text-gray-700 transition-[inset-inline-start] peer-checked:start-6 peer-checked:*:first:hidden *:last:hidden peer-checked:*:last:block">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-full w-full">
          <circle cx="12" cy="12" r="12" fill="#DA020E" />
          <polygon points="12,6 13.2,10.2 17.4,10.2 14.1,12.6 15.3,16.8 12,14.4 8.7,16.8 9.9,12.6 6.6,10.2 10.8,10.2"
            fill="#FFFF00" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-full w-full">
          <circle cx="12" cy="12" r="12" fill="#012169" />
          <g clip-path="url(#clip)">
            <path d="M2,2 L22,22 M22,2 L2,22" stroke="#fff" stroke-width="2" />
            <path d="M2,2 L22,22 M22,2 L2,22" stroke="#C8102E" stroke-width="1" />
            <path d="M12,2 L12,22 M2,12 L22,12" stroke="#fff" stroke-width="3" />
            <path d="M12,2 L12,22 M2,12 L22,12" stroke="#C8102E" stroke-width="2" />
          </g>
          <defs>
            <clipPath id="clip">
              <circle cx="12" cy="12" r="12" />
            </clipPath>
          </defs>
        </svg>
      </span>
    </label>
    <span class="small barlow-semibold">EN</span>
  </div>
</div>