.mf-cv {
  background-image: url("/image/MuFreight-2.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.mf-ct-cv {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mf-it-cv {
  background-image: url("/image/MuFreight-3.jpeg");
  height: 245px;
}
.mf-tg-cv-1 {
  background-image: url("/image/MuFreight-5.jpeg");
  height: 315px;
}
.mf-tg-cv-2 {
  background-image: url("/image/MuFreight-6.jpeg");
  height: 315px;
}
.mf-tg-cv-3 {
  background-image: url("/image/MuFreight-7.png");
  height: 315px;
}
.mf-tg-cv-4 {
  background-image: url("/image/MuFreight-8.jpeg");
  height: 315px;
}
@media (min-width: 768px) {
  .mf-cv {
    height: 220px;
  }
  .mf-ct,
  .mf-sg,
  .mf-video {
    padding: 40px;
  }
  .mf-it {
    gap: 16px;
  }
  .mf-it-cv {
    height: 396px;
  }
  .mf-tg-cv-1 {
    height: 243px;
  }
  .mf-tg-cv-2 {
    height: 243px;
  }
  .mf-tg-cv-3 {
    height: 243px;
  }
  .mf-tg-cv-4 {
    height: 243px;
  }
  .mf-sg {
    gap: 16px;
  }
  .mf-sg-cp {
    padding: 24px;
  }
  .mf-sg-cp-ls {
    max-width: 50%;
  }
  .mf-sg .mf-sg-typo {
    margin-top: 8px;
  }
  .mf-sg-typo-font {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 8px;
  }
}

@media (min-width: 1024px) {
  .mf-cv {
    height: 466px;
  }
  .mf-ct {
    padding: 60px 80px;
    gap: 40px;
  }
  .mf-it {
    gap: 16px;
  }
  .mf-it-cv {
    height: 840px;
  }
  .mf-tg-cv-1 {
    height: 520px;
  }
  .mf-tg-cv-2 {
    height: 520px;
  }
  .mf-tg-cv-3 {
    height: 520px;
  }
  .mf-tg-cv-4 {
    height: 520px;
  }
  .mf-sg {
    padding: 60px 80px 80px 80px;
    gap: 16px;
  }
  .mf-sg-cp {
    padding: 24px;
    flex-direction: column;
  }
  .mf-sg-cp-ls {
    max-width: 50%;
    flex-direction: column;
  }
  .mf-sg-typo-font {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 8px;
  }
  .mf-video {
    padding: 80px;
  }
}
