@import "./styles/font.css";
@import "./styles/project.css";
@import "./styles/project-detail.css";
@import "tailwindcss";
.page {
  height: 100dvh;
  max-height: 100dvh;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.page-scroll {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: scroll;
}
.page-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.page__sidebar {
  padding: 16px 24px 12px 24px;
}
.page__sidebar--logo {
  font-size: 22px;
  line-height: normal;
}
.page__sidebar--logo .full {
  display: block;
}
.page__sidebar--logo .short {
  display: none;
}
.page__sidebar--menu {
  display: none;
}
.menu-item__icon {
  width: 24px !important;
  height: 24px !important;
}
.page__content {
  padding: 12px 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .page-scroll {
    flex-direction: row;
    overflow-y: hidden;
  }
  .page-wrapper {
    min-height: 0;
    overflow-y: scroll;
  }
  .page__sidebar {
    padding: 32px 16px;
    border-right: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
  }
  .page__sidebar--logo {
    font-size: 24px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .page__sidebar--logo .full {
    display: none;
  }
  .page__sidebar--logo .short {
    display: block;
  }
  .page__sidebar--menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  .page__sidebar--menu-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .sidebar-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .menu-item__title {
    display: none;
  }
  .page__sidebar--menu-lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .page__sidebar--menu-lang .small {
    display: none;
  }
  .page__content {
    flex-grow: 1;
  }
  .page__navmenu {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .page-scroll {
    flex-direction: row;
    overflow-y: hidden;
  }
  .page-wrapper {
    min-height: 0;
    overflow-y: scroll;
    align-items: center;
  }
  .page__sidebar {
    padding: 40px 60px;
    border-right: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
  }
  .page__sidebar--logo {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .page__sidebar--logo .full {
    display: block;
  }
  .page__sidebar--logo .short {
    display: none;
  }
  .page__sidebar--menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  .page__sidebar--menu-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .sidebar-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
  }
  .menu-item__title {
    display: block;
  }
  .page__sidebar--menu-lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .page__sidebar--menu-lang .small {
    display: block;
  }
  .page__content {
    width: 100%;
  }
  .page__navmenu {
    display: none !important;
  }
}
