@import "./styles/font.css";
@import "./styles/project-detail.css";
@import "tailwindcss";

@keyframes fadeInBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOutBg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate-fadeInBg {
  animation: fadeInBg 0.3s ease-out forwards;
}
.animate-fadeOutBg {
  animation: fadeOutBg 0.3s ease-in forwards;
}
@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleDown {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}
.animate-scaleUp {
  animation: scaleUp 0.3s ease-out forwards;
}
.animate-scaleDown {
  animation: scaleDown 0.3s ease-in forwards;
}

@media (min-width: 425px) {
  .project-modal-container {
    padding: 40px 80px;
  }
  .project-modal {
    min-width: 425px !important;
    max-width: 608px !important;
  }
}
